﻿@model DAL.User

@{
    ViewBag.Title = "CreateUser";
}

<h2>CreateUser</h2>

<form action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })        
        
        <div class="form-group">
            <label class="control-label col-md-2"> Email</label>
            @*@Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control login", @name = "login" } })
                
                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })              
                
            </div>
            
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @name = "password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input disabled type="submit" id="button" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    <div style="display:none;" class="alert alert-warning">
        <strong>Warning!</strong> <p id="LoginError"></p>
    </div>

</form>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $(".login").change(function () {
                $.ajax({
                    method: "post",
                    url: "UserCheck",
                    data: { unLogin: $(".login").val() }
                }).done(function (data) {
                    console.log(data);
                    if (data =="1") {
                        $(".alert-warning").css("display", "block");
                        $('#LoginError').html("***This email has been used!");
                        $('input[value="Create"]').prop("disabled", true);
                    } else {
                        $(".alert-warning").css("display", "none");
                        $('#LoginError').html("");
                        $('input[value="Create"]').prop("disabled", false);
                    }
                })
            });
        })        

    </script>
    }
