﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @RenderSection("style", required: false)
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if(Session["userConnected"] != null)
                {
                    @Html.ActionLink("WELCOME " + Session["person"], "Index", "Profile", new { area = "" }, new { @class = "navbar-brand" })
                }
                else
                {
                    @Html.ActionLink("BEBABO APPLICATION", "About", "Home", new { area = "" }, new { @class = "navbar-brand" })
                }
                @*@Html.ActionLink("BEBABO APPLICATION", "About", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About APP", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact US", "Contact", "Home")</li>
                @if (ViewBag.Title != "Login")
                {
                    <li>@Html.ActionLink("LogOUT", "DeConnection", "User")</li>
                }
                else
                {
                    <li>@Html.ActionLink("LogIN", "Login", "Home")</li> 
                }
                    
                </ul>
            </div>

        </div>

    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - BUI THI THU TRANG Application</p>
        </footer>
    </div>

    
    @RenderSection("scripts", required: false)
</body>
</html>
