﻿@model DAL.Courbe

<ul>
    <li>Poids: @Model.Poids</li>
    <li>Taille: @Model.Taille</li>
    <li>Perimetre Crainen: @Model.PerimetreCraien</li>
    <li>Date Mesure: @Model.DateMesure.ToString("dd/MM/yyyy")</li>
</ul>