﻿@section Style {
    @Styles.Render("~/Content/ProfilePatialStyle");
}

@*@model DAL.Profile*@

@model BebaboTrang01.Models.RoleProfile


    <div class="item active">
        <div class="container jumbotron">
            <div class="row profile">
                <div class="col-md-4">
                    <div class="profile-sidebar">
                        <!-- SIDEBAR USERPIC -->
                        <div class="profile-userpic">
                            @{
                                string path = Model.profileFull.profile.IdProfil + ".jpg";
                            }
                            <img style="border-radius:5px 10px 15px 20px;" src="~/PhotoProfiles/@path" class="img-responsive" alt="">
                        </div>
                        <!-- END SIDEBAR USERPIC -->
                        <!-- SIDEBAR USER TITLE -->
                        <div class="profile-usertitle">
                            <div class="profile-usertitle-name">
                                Lastname: @Model.profileFull.profile.Nom <br />
                                Firstname: @Model.profileFull.profile.Prenom
                            </div>
                            <div class="profile-usertitle-job">
                                Date of birth: @Model.profileFull.profile.Ddn
                            </div>
                        </div>
                        <!-- END SIDEBAR USER TITLE -->
                        <!-- SIDEBAR BUTTONS -->
                        <!-- END SIDEBAR BUTTONS -->
                        <!-- SIDEBAR MENU -->
                        <div class="profile-usermenu">
                            <ul class="nav">
                                <li class="active">
                                    <a href="#">
                                        <i class="glyphicon glyphicon-home"></i>
                                        Overview
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <!-- END MENU -->
                    </div>
                    <div class="profile-userbuttons">

                        <i class="fa fa-share-alt-square">@Html.ActionLink("Partage this profile", "Partage", "Profile", new { @id = Model.profileFull.profile.IdProfil }, null)</i><br />

                        @*<button type="button" class="btn btn-success btn-sm"><i class="fa fa-share-alt-square"></i>Partage this profile</button> <br />*@
                        <button type="button" class="btn btn-danger btn-sm">Update this profile</button>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="profile-content">
                        @*Use idString for id and dataTarget for data. When click button, the div with idString will be appeared.*@
                        @{
                            string idString = "courbe" + @Model.profileFull.profile.IdProfil;
                            string dataTarget = "#" + idString;
                        }
                        @foreach (var role in Model.listRole)
                        {
                            if (role.Description == "owner" || role.Description == "readAll")
                            {
                                <button type="button" class="btn btn-info sante" data-toggle="collapse" data-target=@dataTarget>COURBE information</button>
                                <div id=@idString class="collapse">
                                    @if (Model.profileFull.listCourbe != null)
                                    {
                                        //Print on the screen all the coubres in the list.
                                        foreach (var courbe in Model.profileFull.listCourbe)
                                        {
                                            Html.RenderPartial("~/Views/Shared/CourbePartialView.cshtml", courbe);
                                        }
                                    }
                                    else
                                    { <p>No information</p>  }
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
                            <br>

                           

