﻿@model BebaboTrang01.Models.CreateProfile

@using (Html.BeginForm("Create", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Profile</h4>
        <hr />
        <div class="form-group">
            <input type="file" name="nomFichier" id="nomFichier" onchange="show(this)" />
            <label for="legende">Légende</label>
            <input type="text" name="legende" id="legende" />
        </div>
        <div class="form-group">
            <label class="control-label col-md-2"> Last Name</label>
            <div class="col-md-10">
                <input class = "form-control login" name="nom" />
                @*@Html.EditorFor(model => model.Profile.Nom, new { htmlAttributes = new { @class = "form-control login", @name = "nom" } })

                @Html.ValidationMessageFor(model => model.Profile.Nom, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2"> First Name</label>
            <div class="col-md-10">
                <input class="form-control login" name="prenom" />
                @*@Html.EditorFor(model => model.Profile.Prenom, new { htmlAttributes = new { @class = "form-control login", @name = "prenom" } })

                @Html.ValidationMessageFor(model => model.Profile.Prenom, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2"> Birth of Date</label>
            <div class="col-md-10">
                <input type="date" name="ddn"  />
                @*@Html.EditorFor(model => model.Profile.Ddn, new { htmlAttributes = new { @class = "form-control login", @name = "ddn", @type = "date" }})

                @Html.ValidationMessageFor(model => model.Profile.Ddn, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2"> Genre</label>
            <div class="col-md-10">
                <select name="fk_idGenre">
                    @foreach (var genre in Model.listGenre)
                    {
                        <option value="@genre.IdGenre">@genre.GenreType</option>
                    }

                </select>

                @*@Html.EditorFor(model => model.Fk_idGenre, new { htmlAttributes = new { @class = "form-control login", @name = "ddn" } })

                @Html.ValidationMessageFor(model => model.Fk_idGenre, "", new { @class = "text-danger" })*@
            </div>
        </div>

       
            <div class="profile-content">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#courbe">COURBE information</button>
                <div id="courbe" class="collapse">
                    <div class="form-group">
                        <label class="control-label col-md-2"> Poids (gam)</label>
                        <div class="col-md-10">
                            <input class="form-control login" name="poids" />
                            @*@Html.EditorFor(model => model.Courbe.Poids, new { htmlAttributes = new { @class = "form-control login", @name = "poids" } })

                            @Html.ValidationMessageFor(model => model.Courbe.Poids, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2"> Taille (cm)</label>
                        <div class="col-md-10">
                            <input class="form-control login" name="taille" />
                            @*@Html.EditorFor(model => model.Courbe.Taille, new { htmlAttributes = new { @class = "form-control login", @name = "taille" } })

                            @Html.ValidationMessageFor(model => model.Courbe.Taille, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2"> PerimetreCraien (cm)</label>
                        <div class="col-md-10">
                            <input class="form-control login" name="perimetreCraien" />
                            @*@Html.EditorFor(model => model.Courbe.PerimetreCraien, new { htmlAttributes = new { @class = "form-control login", @name = "perimetreCraien" } })

                            @Html.ValidationMessageFor(model => model.Courbe.PerimetreCraien, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2"> DateMesure</label>
                        <div class="col-md-10 input-group date" >                      
                          <input type="date" name="dateMesure" />
                            @*@Html.EditorFor(model => model.Courbe.DateMesure, new { htmlAttributes = new { @class = "form-control login", @name = "dateMesure", @type = "text" } })

                            @Html.ValidationMessageFor(model => model.Courbe.DateMesure, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                </div>

            </div>
       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts {
    <script type="text/javascript" language="javascript">
      
</script>
    
    }