﻿@model BebaboTrang01.Models.ModelUserProfilRoleRelation


@{
    ViewBag.Title = "Index";

}


@*This message to inform when the user create successfull the account*@
  @{
      if (ViewBag.Message != null)
      {
        <div class="alert alert-success">
            <p>@ViewBag.Message</p>
        </div>
      }
}      
<hr />

    @foreach (var profileListRole in Model.RoleProfile)
    {
        string relation = "Relation the profile and you: ";
        foreach (var relationProfile in Model.RelationProfile)
        {
            if (relationProfile.Value.profile.IdProfil == profileListRole.Key.profile.IdProfil)
            {
                relation += relationProfile.Key.Libelle;
            }
        } 
        <h3>@relation</h3>

        string roles = "";
        foreach (var role in profileListRole.Value)
        {
            if (role.Description=="owner")
            {
                roles = " Full controll - Create, Update, Delete, ReadAll"; 
            }
            else
            {
                roles += role.Description;
            }


        }
        <h3>You can @roles this profile </h3>


        //Html.RenderPartial("~/Views/Shared/ProfilePartialView.cshtml", profileListRole);



        #region ProfilePrintOur
        <div class="item active">
            <div class="container jumbotron">
                <div class="row profile">
                    <div class="col-md-4">
                        <div class="profile-sidebar">
                            <!-- SIDEBAR USERPIC -->
                            <div class="profile-userpic">
                                @{
                                    string path = profileListRole.Key.profile.IdProfil + ".jpg";
                                }
                                <img style="border-radius:5px 10px 15px 20px;" src="~/PhotoProfiles/@path" class="img-responsive" alt="">
                            </div>
                            <!-- END SIDEBAR USERPIC -->
                            <!-- SIDEBAR USER TITLE -->
                            <div class="profile-usertitle">
                                <div class="profile-usertitle-name">
                                    Lastname: @profileListRole.Key.profile.Nom <br />
                                    Firstname: @profileListRole.Key.profile.Prenom 
                                </div>
                                <div class="profile-usertitle-job">
                                    Date of birth:@profileListRole.Key.profile.Ddn                               
                                </div>
                            </div>
                            <!-- END SIDEBAR USER TITLE -->
                            <!-- SIDEBAR BUTTONS -->
                            <!-- END SIDEBAR BUTTONS -->
                            <!-- SIDEBAR MENU -->
                            <div class="profile-usermenu">
                                <ul class="nav">
                                    <li class="active">
                                        <a href="#">
                                            <i class="glyphicon glyphicon-home"></i>
                                            Overview
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <!-- END MENU -->
                        </div>
                        <div class="profile-userbuttons">

                            <i class="fa fa-share-alt-square">@Html.ActionLink("Partage this profile", "Partage", "Profile", new { @id = profileListRole.Key.profile.IdProfil }, null)</i><br />

                            @*<button type="button" class="btn btn-success btn-sm"><i class="fa fa-share-alt-square"></i>Partage this profile</button> <br />*@
                            <button type="button" class="btn btn-danger btn-sm">Update this profile</button>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="profile-content">
                            @*Use idString for id and dataTarget for data. When click button, the div with idString will be appeared.*@
                            @{
                                string idString = "courbe" + profileListRole.Key.profile.IdProfil ;
                                string dataTarget = "#" + idString;
                            }
                            @*profileListRole.Value: listRole*@
                            @foreach (var role in profileListRole.Value)
                            {
                                if (role.Description == "owner" || role.Description == "readAll")
                                {
                                    <button type="button" class="btn btn-info sante" data-toggle="collapse" data-target=@dataTarget>COURBE information</button>
                                    <div id=@idString class="collapse">
                                        @if (profileListRole.Value != null)
                                        {
                                            //Print on the screen all the coubres in the list.
                                            foreach (var courbe in profileListRole.Key.listCourbe)
                                            {
                                                Html.RenderPartial("~/Views/Shared/CourbePartialView.cshtml", courbe);
                                            }
                                        }
                                        else
                                        { <p>No information</p>  }
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <br />
        <br />
                                    #endregion


     }


            <hr />

            <dl class="dl-horizontal"></dl>
               
        
                
@Html.ActionLink("Create new profile", "Create", "Profile", new { @class = "btn btn-success btn-sm" })
   

    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
