﻿@model BebaboTrang01.Models.FormulairePartage

@{
    ViewBag.Title = "Partage";
}

<h2>Partage</h2>

@using (Html.BeginForm("Partage", "Profile"))
{
    @Html.AntiForgeryToken()

    <div class="form-inline">
        <h4>FormulairePartage</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.login, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">User: </label>
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.login, new { htmlAttributes = new { @class = "form-control" } })*@
                <input class="control-label col-md-10" type="email" name="login" id="inputEmail" list="autocompleteUser" /> <br />
                <datalist id="autocompleteUser">                   
                    @foreach (string s in Model.listUser.Select(m => m.Login))
                    {
                         <option value="@s"></option>
                    }
                </datalist>
                @Html.ValidationMessageFor(model => model.login, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-4">
                <select name="idRole">
                    @foreach (var item in Model.listRole)
                    {
                <option value=@item.IdRole>@item.Description</option>
                    }
                </select>
            </div>
        </div>
        <input type="hidden" value=@Model.idProfile name="idProfile"  />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="ADD" class="btn btn-default" />
                </div>
            </div>
        </div>
}
    <br />
    <div class="container">
        <div class="jumbotron">
            @{
                int No = 0;
                bool ownerBool = false;
            }


            @foreach (var item in @Model.userListRole)
    {
        No++;
        string role = "";
        
            <div>
                No.@No -  @item.Key.Login :

                @for (int i = 0; i < @item.Value.Count; i++)
    {
        if (i == item.Value.Count - 1)
        {
            role += @item.Value[i].Description;
        }
        else
        {
            role += @item.Value[i].Description + " | ";
        }
        if (item.Value[i].Description == "owner")
        {
            ownerBool = true;
        }
    }
                @role
                @if (ownerBool == false)
    {
            <button class="btn btn-danger pull-right">&times; Delette</button>
}
            </div>

}
            
        </div>
        </div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
